.sidenav {
    background-color: #1C1C1C;
    /* background-image: url('/../../assets/img/Logo1.png');*/
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}